<div class="cal-container">
  <div class="cal">
    <div class="header border-bottom-bold">
      <div class="left border-right-bold">
        <button (click)="updateYear(-1)"><i data-feather="chevron-left"></i></button>
        <span> {{ currentYear }} </span>
        <button (click)="updateYear(1)"><i data-feather="chevron-right"></i></button>
      </div>
      <div class="right">
        <table>
          @for (row of monthsCalculated; track row) {
          <tr>
            @for (month of row; track month) {
            <td
              class="day"
              [class.twenty-nine]="month === 'Feb'"
              [class.thirty]="['Apr', 'Jun', 'Sept', 'Nov'].includes(month)"
              [class.thirty-one]="
                ['Jan', 'Mar', 'May', 'Jul', 'Aug', 'Oct', 'Dec'].includes(
                  month
                )
              "
            >
              {{ month }}
            </td>
            }
          </tr>
          }
        </table>
      </div>
    </div>
    <div class="content">
      <div class="left border-right-bold">
        <table>
          @for (col of days; track col) {
          <tr>
            @for (day of col; track day) {
            <td
              class="day"
              [class.twenty-nine]="day === 29"
              [class.thirty]="day === 30"
              [class.thirty-one]="day === 31"
            >
              {{ day }}
            </td>
            }
          </tr>
          }
        </table>
      </div>
      <div class="right">
        <table>
          @for (week of weekDays; track week) {
          <tr>
            @for (day of week; track day) {
            <td class="day" [class.sun]="day === 'Sun'">
              {{ day }}
            </td>
            }
          </tr>
          }
        </table>
      </div>
    </div>
  </div>
</div>
